body {
    background-color: yellow;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}
form {
    color: brown;
}
ul {
    color: brown;
}
.headers {
    color: brown;
    text-align: center;
}
#pictures {
    float: right;
}
.text {
    text-align: center;
    color: brown;
}